QuanLyHocSinh/Connected Services/WCFProxy1/QuanLyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/QuanLyService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="DangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinNguoiDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinNguoiDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="GetThongTinNguoiDungResult" nillable="true" type="q1:NguoiDungDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLopHoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="lop" nillable="true" type="q2:LopDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLopHocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemLopHocResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLopTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLopTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimLopTheoMaResult" nillable="true" type="q3:ArrayOfLopDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLopTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenLop" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimLopTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimLopTheoTenResult" nillable="true" type="q4:ArrayOfLopDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="hocSinh" nillable="true" type="q5:HocSinhDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimHocSinhTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimHocSinhTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimHocSinhTheoMaResult" nillable="true" type="q6:ArrayOfHocSinhDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimHocSinhTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenHS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimHocSinhTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimHocSinhTheoTenResult" nillable="true" type="q7:ArrayOfHocSinhDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemGiaoVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="giaoVien" nillable="true" type="q8:GiaoVienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemGiaoVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemGiaoVienResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimGiaoVienTheoMa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maGV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimGiaoVienTheoMaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimGiaoVienTheoMaResult" nillable="true" type="q9:ArrayOfGiaoVienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimGiaoVienTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenGV" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimGiaoVienTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="TimGiaoVienTheoTenResult" nillable="true" type="q10:ArrayOfGiaoVienDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHS" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matKhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DangNhapHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DangNhapHocSinhResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTaiKhoanHocSinh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maHS" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayTaiKhoanHocSinhResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="LayTaiKhoanHocSinhResult" nillable="true" type="q11:TaiKhoanHocSinhDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDiem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="danhSachDiem" nillable="true" type="q12:ArrayOfDiemDTO" />
        <xs:element minOccurs="0" name="maLop" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maNamHoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maMonHoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maHocKy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDiemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuPhanCong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dtPhanCong" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuPhanCongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LuuPhanCongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhanCong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="phanCong" nillable="true" type="q13:PhanCongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhanCongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemPhanCongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhanCongCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="phanCong" nillable="true" type="q14:PhanCongDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemPhanCongCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemPhanCongCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>